body {
  background: url(http://static1.squarespace.com/static/547d3a0fe4b009320b6915e1/t/54c7465be4b080f91c82df1f/1422345819989/Bar+35_hero_06+top+bar.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 50px;
  color: white;
}


.ui.borderless.topmenu.menu {
  background: none;
  box-shadow: none;
  border: none;
}
.ui.centered.grid.container {
  margin-right: 20px;
}
.item {
  padding-right: 200px;
}
.ui.logo.centered.image {
  width: 275px;
  height: 175px;
}

.top.row {

}

.bottom.row {
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
}